{% extends 'flowchart_base.html' %}
{% load static %}
{% block title %}Categories - Foodcheqr{% endblock %}

{% block content %}
    <h2>Categories</h2>
    <a href="{% url 'baby_food_list' %}" class="button">Baby Food</a>
    <a href="{% url 'shelf_stable' %}" class="button">Shelf Stable</a>
    <!-- <a href="#" class="button">Shelf Stable</a> -->
    <a href="{% url 'refrigerated_categories' %}" class="button">Refrigerated</a>
    <!-- <a href="{% url 'frozen_categories' %}" class="button">Frozen</a> -->
    <a href="javascript:void(0)" class="button" onclick="showConstructionPopup('default')">Frozen</a>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/construction-popup.js' %}"></script>
{% endblock %}