{% extends 'flowchart_base.html' %}

{% block title %}Dry Goods - Foodcheqr{% endblock %}

{% block header_buttons %}
<a href="{% url 'shelf_stable' %}" class="back-button">← Back</a>
<a href="{% url 'landing' %}" class="home-button">Home</a>
{% endblock %}

{% block content %}
    <h2>Dry Goods</h2>
    {% for category in subcategories %}
        <a href="{% url 'dry_goods_category_detail' category.slug %}" class="button">
            {{ category.name }}
        </a>
    {% endfor %}
{% endblock %}