{% extends 'info_page_base.html' %}

{% block title %}Food Safety Resources - Foodcheqr{% endblock %}

{% block extra_css %}
ul {
    font-size: 17px;
    line-height: 1.7;
    padding-left: 20px;
}
li {
    margin-bottom: 15px;
}
a {
    color: #2a7ae2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
{% endblock %}

{% block content %}
    <h1>Food Safety Resources</h1>
    <ul>
        <li><a href="https://www.foodsafety.gov" target="_blank">www.foodsafety.gov</a></li>
        <li><a href="https://www.fns.usda.gov/fs/food-safety-resources" target="_blank">
            USDA Food Safety Resources</a></li>
        <li><a href="http://www.fightbac.org/free-resources/" target="_blank">
            Fight BAC! Free Resources</a></li>
        <li><a href="https://www.statefoodsafety.com/Resources" target="_blank">
            StateFoodSafety.com Resources</a></li>
        <li><a href="https://www.fda.gov/Food/ResourcesForYou/HealthCareProfessionals/default.htm" target="_blank">
            FDA Resources for Health Professionals</a></li>
        <li><a href="https://www.fmi.org/food-safety/food-safety-resources" target="_blank">
            FMI Food Safety Resources</a></li>
    </ul>
    <p class="signature">
        Explore these trusted resources for additional information on food safety practices.
    </p>
{% endblock %}