{% extends 'flowchart_result_base.html' %}

{% block title %}{{ category }} - Foodcheqr{% endblock %}

{% block header_buttons %}
<a href="{% url 'shelf_stable' %}" class="back-button">← Back</a>
<a href="{% url 'landing' %}" class="home-button">Home</a>
{% endblock %}

{% block content %}
    <h2>Shelf Stable | {{ display_name }}</h2>
    {% if items %}
        <ul>
            {% for item in items %}
                <li>
                    <a href="{% url 'product_detail' item.id %}?from={{ category|slugify }}" class="result-button">
                        {{ item.item_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No items found in this category.</p>
    {% endif %}
{% endblock %}