{% extends 'flowchart_base.html' %}

{% block title %}Shelf Stable - Foodcheqr{% endblock %}

{% block header_buttons %}
<a href="{% url 'category_select' %}" class="back-button">← Back</a>
<a href="{% url 'landing' %}" class="home-button">Home</a>
{% endblock %}

{% block content %}
    <h2>Shelf Stable</h2>
    <a href="{% url 'shelf_stable_detail' 'canned-jarred' %}" class="button">Canned & Jarred</a>
    <a href="{% url 'shelf_stable_detail' 'aseptic' %}" class="button">Aseptic (Pouch)</a>
    <a href="{% url 'shelf_stable_detail' 'condiments-sauces-syrups' %}" class="button">Condiments, Sauces & Syrups</a>
    <a href="{% url 'dry_goods_subcategories' %}" class="button">Dry Goods</a>
    <a href="{% url 'ssb_categories' %}" class="button">Beverages</a>
{% endblock %}